# dependencies
backend/node_modules
frontend/node_modules

# build output
frontend/dist
frontend/dist-ssr

# env
backend/.env
frontend/.env*
.env*

# sqlite db
backend/data/*.db
backend/data/*.db-*
backend/data/*.db-wal
backend/data/*.db-shm

# logs
logs
*.log

# editor
.vscode/
.idea/
.DS_Store

